<p id="notice"><%= notice %></p>

<h2>Current Version</h2>

<p>
  <strong>Locale:</strong>
  <%= @translation.locale %>
</p>

<p>
  <strong>Key:</strong>
  <%= @translation.key %>
</p>

<p>
  <strong>Value:</strong>
  <%= @translation.value %>
</p>

<hr/>

  <h2>Last 5 Revisions</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Version</th>
        <th>Event</th>
        <td>Date Modified</th>
        <th>Content</th>
      </tr>
    </thead>
    <tbody>
      <% @translation.last_five.each do |version| %>
        <tr>
          <td><%= version.index %></td>
          <td><%= version.event %></td>
          <td><%= version.created_at %></td>
          <td>
            <% unless version.reify.nil? %>
              <dl class="dl-horizontal">
                <dt>locale</dt>
                <dd><%= version.reify.locale %></dd>
                <dt>key</dt>
                <dd><%= version.reify.key %></dd>
                <dt>value</dt>
                <dd><%= version.reify.value %></dd>
              </dl>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <ul>
  </ul>
</p>

<%= link_to 'Edit', edit_translation_path(@translation) %> |
<%= link_to 'Back', translations_path %>
